body {
  background: #142d4c;
}
.overviewTemperature {
  text-align: left;
}
h1 {
  margin-left: 50px;
}
.row {
  text-align: center;
}
li {
  list-style: none;
  text-align: justify;
  margin-left: 30px;
}
.weekly {
  margin-bottom: 10px;
}
.temp {
  font-weight: 400;
  margin-left: 10px;
  font-weight: 700;
  font-size: 80px;
  line-height: 1;
}
.units {
  font-size: 28px;
  line-height: 36px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}
.container {
  background: #ececec;
  padding-top: 30px;
  width: 600px;
  height: 800px;
  margin-left: 459px;
  margin-bottom: 20px;
  border: 2px solid;
  border-radius: 10px;
}

img {
  width: 400px;
  display: block;
  margin: 0px 80px;
  border-radius: 10px;
  opacity: 5;
}

.searchingButtons {
  margin-top: 10px;
}
.srcCode {
  text-decoration: none;
}
